*{
    box-sizing:border-box;
}
body{
    bg-color:#999;
}
div{
    border:2px solid red;
    padding:3px;
}
.wrapper{
    position:absolute;
    top:3px;
    right:280px;
    bottom:3px;
    left:3px;
}
.frames{
    position:absolute;
    top:3px;
    right:3px;
    bottom:46px;
    width:271px;
}
#check_div{
    position:absolute;
    bottom:3px;
    right:3px;
    width:271px;
    height:40px;
}
#check_form{
    width:100%;
    height:100%;
}
#check_button{
    height:100%;
    width:100%;
}
#toolbar{
    margin:3px;
    height:80px;
    width:calc(100% - 3px);
    padding:8px;
}
#console{
    margin:3px;
    height:130px;
}
#console_text{
    width:100%;
    height:100%;
}
#svg{
    width:calc(100% - 3px);
    height:calc(100% - 80px - 130px - 12px);
    border:2px solid green;
    margin:3px;
    min-height:300px;
    min-width:300px;
}
.svg_img{
    stroke:#000;
    stroke-width:3;
    fill:none;
}
.svg_img_small{
    stroke:#000;
    stroke-width:1;
    fill:none;
}    
#ya{
    display:inline-block;
    float:right;
    width:92px;
    height:34px;
    margin:auto 3px, 3px, auto;
}
