*{
    box-sizing:border-box;
}
body{
    height:100vh;
}
div{
    border:2px solid black;
}
.header{
    width:100%;
    min-height:18%;
}
.logo{
    width:10%;
    height:100%;
    float:left;
}
.header h1{
    width:20%;
    margin-left:40%;
    margin-right:40%;
    text-align:center;
}
.registration{
    width:20%;
    float:right;
    border:none;
}
.left_panel{
    width:15%;
    height:80%;
    float:left;
}
.main_menu{
    margin:0.2em;
}
.main_menu li{
    margin:0.2em;
}
.main_area{
    width:85%;
    height:80%;
    display:inline-block;
}
.frame{
    border:2px solig blue;
    margin:3px;
    padding:3px;
    width:99.5%;
    height:99.5%;
    background:#999;
}
.footer{
    width:100%;
    height:10%;
}
.footer h1{
    margin-left:40%;
    margin-right:40%;
    width:20%;
    text-align:center;
}
