body{
    bg-color:#999;
}
div{
    border:2px solid red;
    padding:3px;
}
.wrapper{
    width:64%;
    height:100%;
    float:left;
}
.frames{
    width:33.5%;
    height:100%;
    margin-left:65.5%;
    display:inline-block;
}
