<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/{{ stylesheet }}" />
    <title>5-е колесо</title>
</head>
<body>
    <div id="header">
        <h1>5-е колесо</h1>
    </div>
    <div id="body_div" style="overflow:auto">
        {% for item in items %}
            <div class="item">
                {% block loop_item scoped %}
                    <hr>
                    <img src="{{ item.src }}" class="img" />
                    <div class="wrapper">
                        <h2>{{ item.title|safe }}</h2>
                            <p class="text">{{ item.text|safe }}</p>
                    </div>
                {% endblock %}
            </div>
        {% endfor %}
        <hr>
    </div>
    <div id="footer">
        <h6>(c)nerrevar</h6>
    </div>
</body>
</html>