*{
	box-sizing: border-box;
}
body{
	font-size: 5vh;
}

/* passenger */

#header{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 25vh;
	text-align: center;
	font-size: 180%;
	padding: 8vh;
}
#body{
	position: fixed;
	top: 25vh;
	left: 0;
	right: 0;
	height: 65vh;
	text-align: center;
	overflow: scroll;
}
.big_margin{
	font-size: 120%;
}
.small_left_margin{
	margin-left: 1vw!important;
	float: none!important;
}
.small_right_margin{
	margin-right: 1vw!important;
	float: none!important;
}
.button{
	margin-top: calc(50% - 3.5em);
	font-size: 120%;
}
.label, .input{
	font-size: 80%;
	margin: 1vh 5vw;
	float: left;
}
.checkbox{
	width: 5vw;
    float: left;
    margin: 1vh 5vw;
}
#footer{
	position: fixed;
	top: 95vh;
	left: 0;
	right: 0;
	height: 5vh;
	text-align: center;
	font-size: 50%;
}
.row{
	width: 90vw;
	margin-left: 5vw;
}



/* worker */
.work_block{
	display: inline-block;
	margin: 1vw;
	padding: auto;
	width: 48vw;
	height: 48vw;
	background-color: #555;
}
.left{
	float: left;
}
.work_label{
	display: block;
	margin-top: 23vw;
	color: #fff;
	font-size: 120%;
}
.order_div{
	text-align: left;
}