{% extends "work/part.html" %}
{% block body %}
    <a href="/work/cancel"><button style="float:right;">Отказаться</button></a>
    <hr>
    <p>Телефон:  {{ phone }}</p>
    <p>Откуда:  {{ address_from }}</p>
    <p>Куда:  {{ address_to }}</p>
    <p>Комментарий:  {{ comment }}</p>
    {% for i in time_list %}
        <form action="/work/wait_confirm?id={{ order.id }}&phone={{ order.phone }}&address_from={{ order.address_from }}&address_to={{ order.address_to }}&comment={{ order.comment }}" style="display:inline">
            <input type="hidden" name="time" value="{{ i }}" />
            <input type="submit" value="{{ i }}" />
        </form>
    {% endfor %}
{% endblock %}