{% extends "index.html" %}
{% block body %}
    <p>{{ address_from }}</p>
    <p id="timer">{{ time }}:00</p>
	<a href="/work/confirm?id={{ id }}&phone={{ phone }}&address_from={{ address_from }}&address_to={{ address_to }}&comment={{ comment }}&time={{ i }}" style="float:left">
        <button>На месте</button>
    </a>
	<a href="/work/lets_go?id={{ id }}&phone={{ phone }}&address_from={{ address_from }}&address_to={{ address_to }}&comment={{ comment }}&time={{ i }}">
        <button>Старт</button>
    </a>
{% endblock %}
