*{
	box-sizing: border-box;
}
body{
	width:100%;
	height:100%;
}
body *{
	opacity: 1;
}
#back{
	width: 100%;
	height: auto;
	opacity: 0.3;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
h2{
	color: #000;
	text-align: center;
	margin: 0 15px;
	padding: 3px;
}
.text{
	color: #000;
	display: table-cell;
	vertical-align: top;
	text-align: left;
	margin: 0;
}
.wrapper{
	margin-left: 15px;
	word-wrap: break-word;
    height: auto;
}
.line_wrapper{
	display: table-row;
	padding: 0;
}
.list_img{
	margin-right: 3px;
	display: table-cell;
	height: 1em;
	width: 1em;
}
h6{
	position: fixed;
	bottom: 0;
	left: 40vw;
	right: 40vw;
	text-align: center;
	margin: 0;
}
#w3c, #ya_metr{
	position: fixed;
	right: 1px;
}
.inner_img{
	width: 100%;
	height: 100%;
	border: 0;
}
@media screen and (min-width:650px){
	#header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 160px;
		text-align: center;
		font-size: 40px;
		color: #000;
	}
	#about{
		position: absolute;
		top: 160px;
		left: 160px;
		right: 0;
		height: 80px;
	}
    #menu{
        position: fixed;
        top: 130px;
        left: 0;
        bottom: 0;
        width: 160px;
    }
	h2{
		font-size: 35px;
	}
	#body_div{
		position: fixed;
		top: 240px;
		bottom: 30px;
		left: 160px;
		right: 50px;
		padding: 5px;
	}
	#footer{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 30px;
		height: 30px;
		text-align: center;
	}
	.img{
		width: 240px;
		height: 240px;
		float: left;
		border-radius: 20%;
	}
	.wrapper{
		display: inline-block;
		min-height: 240px;
		font-size: 25px;
		padding: 0;
	}
	#ya_metr{
		width: 88px;
		height: 31px;
		bottom: 1px;
	}
}
@media screen and (max-width: 649px){
	#header{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 25%;
		text-align: center;
		font-size: 1.5em;
		color: #000;
	}
	h2{
		font-size: 1em;
	}
	#body_div{
		position: fixed;
		top: 25%;
		bottom: 10%;
		left: 5px;
		right: 5px;
		padding: 5px;
	}
	#footer{
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
		height: 10%;
		text-align: center;
	}
	.img{
		width:40vw;
		height:30vw;
		float:left;
	}
	.wrapper{
		display: inline-block;
		min-height: 30vw;
		padding: 0;
		width: 49vw;
	}
	h6{
		height: 15px;
		font-size: 12px;
	}
	#w3c{
		width: 44px;
		height: 16px;
		bottom: 18px;
	}
	#ya_metr{
		width: 44px;
		height: 16px;
		bottom: 1px;
	}
}
