{% extends "index.html" %}
{% block body %}
<form action="commit">
    <input name="phone" class="input" type="number" placeholder="№ телефона (с 8-й)" style="width:88vw;" />
    <p class="label">Откуда:</p>
    <input name="street" class="input" type="text" placeholder="Улица" style="width:55vw; float:right; margin-right:7vw;" /><br>
    <input name="dom" class="input" type="number" placeholder="Дом" style="width:15vw;" />
    <input name="korp" class="input" type="number" placeholder="Корпус" style="width:25vw;" />
    <input name="pod" class="input" type="number" placeholder="Подьезд" style="width:25vw; float:right; margin-right:7vw;" /><br>
    <input name="comment" class="input" type="text" placeholder="Примечания" style="width:88vw; height:10vh;" /><br>
    <input name="city" id="city" class="checkbox" type="checkbox" checked /><label class="label" style="margin:0;" for="city" >По городу</label>
    <input name="recall" id="recall" class="checkbox" type="checkbox" /><label class="label" style="margin:0;" for="recall" >Перезвонить</label>
    <br><br>
    <label class="label">Куда: </label>
    <input name="dest" style="width:60vw" class="input" type="text" />
    <br>
    <input class="input" style="position:fixed; width:88vw; height:2em; bottom:6vh; left:0;" type="submit" value="Вызвать" />
</form>
{% endblock %}